openapi: 3.1.0
info:
  title: ALAL APIs
  version: 1.0.0
servers:
  - url: https://api.sandbox.saalal.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Cards
  - name: Transactions
  - name: CardUsers
  - name: Disputes
paths:
  /business/balances:
    get:
      tags:
        - Business
      summary: Get balances
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:49:30 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    properties:
                      operational:
                        type: integer
                        example: 1000
                      commission:
                        type: integer
                        example: 1000
  /business/operations:
    get:
      tags:
        - Business
      summary: Get operations
      security:
        - bearerAuth: [ ]
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:49:30 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        amount:
                          type: integer
                          example: 2000
                        fees:
                          type: integer
                          example: 0
                        description:
                          type: string
                          example: 'YOUR_BANK_NAME'
                        type:
                          type: string
                          example: account_transfer
                        kind:
                          type: string
                          example: float_debit
                        bank_name:
                          type: string
                          example: 'YOUR_BANK_NAME'
                        bank_id:
                          type: string
                          example: 'XX08XX0100163110648500003035'
                        bank_account_name:
                          type: string
                          example: 'YOUR_BANK_ACCOUNT_NAME'
                        status:
                          type: string
                          example: pending
                        created_at:
                          type: string
                          example: '2023-06-22T10:40:17.000000Z'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
  /disburses/create:
    post:
      tags:
        - Disburse
      summary: Create a disburse
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: '500'
                network:
                  type: string
                  enum: ['orange-money-sn', 'wave-sn', 'bank']
                customer:
                  type: object
                  properties:
                    full_name:
                      type: string
                      example: John Doe
                    email:
                      type: string
                      example: john.doe@example.com
                    phone:
                      type: string
                      example: 77XXXXXXX
                    bank_id:
                      type: string
                      example: XX08XX0100163110648500003035
                    bank_name:
                      enum: [BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI]
                      example: YOUR_BANK_NAME
                    bank_account_name:
                      type: string
                      example: YOU_BANK_ACCOUNT_NAME
              example:
                amount: 500
                network: orange-money-sn
                customer:
                  full_name: Johny Doe
                  email: john@doe.com
                  phone: 77XXXXXXX
                  bank_name: YOUR_BANK_NAME
                  bank_id: XX08XX0100163110648500003035
                  bank_account_name: YOUR_BANK_ACCOUNT_NAME
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  statusCode:
                    type: integer
                    example: 200
                  disburse:
                    type: object
                    properties:
                      business:
                        type: string
                      customer:
                        type: object
                        properties:
                          full_name:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          bank_id:
                            type: string
                          bank_name:
                            enum: [BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI]
                          bank_account_name:
                            type: string
                      slug:
                        type: string
                      reference:
                        type: string
                      kind:
                        type: string
                      network:
                        type: string
                      amount:
                        type: integer
                      status:
                        type: string
                      expired_at:
                        type: string
                      meta:
                        type: string
              example:
                message: disburse initiated!
                statusCode: 200
                data:
                  disburse:
                    business: BUSINESS_NAME
                    customer:
                      full_name: Johny Doe
                      email: john@doe.com
                      phone: 77XXXXXXX
                      bank_name: YOUR_BANK_NAME
                      bank_id: XX08XX0100163110648500003035
                      bank_account_name: YOUR_BANK_ACCOUNT_NAME
                    slug: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    kind: disburse
                    network: bank | orange-money-sn | wave-sn
                    amount: 500
                    status: processing
                    expired_at: 2024-01-11
                    meta:
                        wallet_url: https://extra.url.com
  /disburses:
    get:
      tags:
        - Disburse
      summary: List of disburses
      security:
        - bearerAuth: [ ]
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "disburse list"
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        business:
                          type: string
                          example: BUSINESS_NAME
                        customer:
                          type: object
                          properties:
                            full_name:
                              type: string
                              example: John Doe
                            email:
                              type: string
                              example: john@doe.com
                            phone:
                              type: string
                              example: 77XXXXXXX
                            bank_id:
                              type: string
                              example: XX08XX0100163110648500003035
                            bank_name:
                              enum: [ BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI ]
                              example: YOUR_BANK_NAME
                            bank_account_name:
                              type: string
                              example: YOUR_BANK_ACCOUNT_NAME
                        slug:
                          type: string
                          example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                        reference:
                          type: string
                          example:  d282e4a6-1fb6-4827-a6ae-a780263287d7
                        kind:
                          type: string
                          example: disburse
                        network:
                          type: string
                          example: wave-sn
                        amount:
                          type: integer
                          example: 1500
                        status:
                          type: string
                          example: processing
                        expired_at:
                          type: string
                          example: 2024-01-11
                        meta:
                          type: array
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
  /disburses/{reference}:
    get:
      tags:
        - Disburse
      summary: Show disburse
      security:
        - bearerAuth: [ ]
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "disburse"
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    properties:
                      business:
                        type: string
                        example: BUSINESS_NAME
                      customer:
                        type: object
                        properties:
                          full_name:
                            type: string
                            example: John Doe
                          email:
                            type: string
                            example: john@doe.com
                          phone:
                            type: string
                            example: 77XXXXXXX
                          bank_id:
                            type: string
                            example: XX08XX0100163110648500003035
                          bank_name:
                            enum: [ BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI ]
                            example: YOUR_BANK_NAME
                          bank_account_name:
                            type: string
                            example: YOUR_BANK_ACCOUNT_NAME
                      slug:
                        type: string
                        example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                      reference:
                        type: string
                        example:  d282e4a6-1fb6-4827-a6ae-a780263287d7
                      kind:
                        type: string
                        example: disburse
                      network:
                        type: string
                        example: wave-sn
                      amount:
                        type: integer
                        example: 1500
                      status:
                        type: string
                        example: processing
                      expired_at:
                        type: string
                        example: 2024-01-11
                      meta:
                        type: array
  /payments/create:
    post:
      tags:
        - Payment
      summary: Create a payment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                network:
                  type: string
                  enum: ['orange-money-sn', 'wave-sn']
                customer:
                  type: object
                  properties:
                    full_name:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
              example:
                amount: 500
                network: orange-money-sn
                customer:
                  full_name: Johny Doe
                  email: john@doe.com
                  phone: 77XXXXXXX
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  statusCode:
                    type: integer
                  payment:
                    type: object
                    properties:
                      business:
                        type: string
                      customer:
                        type: object
                        properties:
                          full_name:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                      slug:
                        type: string
                      reference:
                        type: string
                      kind:
                        type: string
                      network:
                        type: string
                      amount:
                        type: integer
                      status:
                        type: string
                      expired_at:
                        type: string
                      meta:
                        type: string
              example:
                message: Payment initiated!
                statusCode: 200
                data:
                  payment:
                    business: BUSINESS_NAME
                    customer:
                      full_name: Johny Doe
                      email: john@doe.com
                      phone: 77XXXXXXX
                    slug: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    kind: disburse
                    network: bank | orange-money-sn | wave-sn
                    amount: 500
                    status: pending
                    expired_at: 2024-01-11
                    meta:
                        wallet_url: https://extra.url.com
  /payments:
    get:
      tags:
        - Payment
      summary: List of payments
      security:
        - bearerAuth: [ ]
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "payment list"
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        business:
                          type: string
                          example: BUSINESS_NAME
                        customer:
                          type: object
                          properties:
                            full_name:
                              type: string
                              example: John Doe
                            email:
                              type: string
                              example: john@doe.com
                            phone:
                              type: string
                              example: 77XXXXXXX
                        slug:
                          type: string
                          example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                        reference:
                          type: string
                          example:  d282e4a6-1fb6-4827-a6ae-a780263287d7
                        kind:
                          type: string
                          example: payment
                        network:
                          type: string
                          example: wave-sn
                        amount:
                          type: integer
                          example: 1500
                        status:
                          type: string
                          example: pending
                        expired_at:
                          type: string
                          example: 2024-01-11
                        meta:
                          type: array
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
  /payments/{reference}:
    get:
      tags:
        - Payment
      summary: Show payment
      security:
        - bearerAuth: [ ]
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "payment"
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    properties:
                      business:
                        type: string
                        example: BUSINESS_NAME
                      customer:
                        type: object
                        properties:
                          full_name:
                            type: string
                            example: John Doe
                          email:
                            type: string
                            example: john@doe.com
                          phone:
                            type: string
                            example: 77XXXXXXX
                          bank_id:
                            type: string
                            example: XX08XX0100163110648500003035
                          bank_name:
                            enum: [ BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI ]
                            example: YOUR_BANK_NAME
                          bank_account_name:
                            type: string
                            example: YOUR_BANK_ACCOUNT_NAME
                      slug:
                        type: string
                        example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                      reference:
                        type: string
                        example:  d282e4a6-1fb6-4827-a6ae-a780263287d7
                      kind:
                        type: string
                        example: payment
                      network:
                        type: string
                        example: wave-sn
                      amount:
                        type: integer
                        example: 1500
                      status:
                        type: string
                        example: pendin
                      expired_at:
                        type: string
                        example: 2024-01-11
                      meta:
                        type: array
  /cards:
    get:
      tags:
        - Cards
      summary: List Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:49:30 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        balance:
                          type: integer
                          example: 1000
                        last_four:
                          type: string
                          example: "1214"
                        status:
                          type: string
                          example: issued
                        card_type:
                          type: string
                          example: Visa
                        card_brand:
                          type: string
                          example: physical
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
  /cards/{reference}:
    get:
      tags:
        - Cards
      summary: Show Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Date:
              schema:
                type: string
                example: Sun, 18 Jun 2023 20:35:41 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    properties:
                      reference:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      balance:
                        type: integer
                        example: 1000
                      last_four:
                        type: string
                        example: "1987"
                      status:
                        type: string
                        example: issued
                      card_type:
                        type: string
                        example: Visa
                      card_brand:
                        type: string
                        example: physical
              example:
                message: OK
                statusCode: 200
                data:
                  card:
                    reference: db408374-0a25-497f-b9b3-45b16c110812
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 1000
                    status: 1000
  /cards/user:
    post:
      tags:
        - Cards
      summary: Register Card User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: your-firstname
                last_name:
                  type: string
                  example: your-lastname
                address:
                  type: string
                  example: your-address
                phone:
                  type: string
                  example: '774964996'
                email:
                  type: string
                  example: your@mail.com
                id_no:
                  type: string
                  example: '20119991010000621'
                selfie_image:
                  type: string
                  example: https://example.com/selfie.png
                id_image:
                  type: string
                  example: https://example.com/id.png
                back_id_image:
                  type: string
                  example: https://example.com/backid.png
              example:
                first_name: your-firstname
                last_name: your-lastname
                address: your-address
                phone: '774964996'
                email: your@mail.com
                id_no: '20119991010000621'
                selfie_image: https://your-image.com
                id_image: https://your-image.com
                back_id_image: https://your-image.com
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:02:42 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card User verification in progress
                  statusCode:
                    type: integer
                    example: 200
                  userCard:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 88c2f29c-2fba-40f1-a303-b33008e42fe9
                      first_name:
                        type: string
                        example: your-firstname
                      last_name:
                        type: string
                        example: your-lastname
                      address:
                        type: string
                        example: your-address
                      phone:
                        type: string
                        example: '774964996'
                      email:
                        type: string
                        example: your@mail.com
                      id_no:
                        type: string
                        example: '20119991010000621'
              example:
                message: OK
                statusCode: 200
                data:
                  message: Card User verification in progress
                  userCard:
                    reference: 88c2f29c-2fba-40f1-a303-b33008e42fe9
                    first_name: Testeur
                    last_name: glock
                    address: Pikine Texaco 11
                    id_no: '17521999133211635'
                    phone: '221776854872'
                    email: testingboy@gmail.com
        '422':
          description: Unprocessable Content
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:00:54 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ id no est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ id no est déjà utilisée.
              example:
                message: La valeur du champ id no est déjà utilisée.
                errors:
                  id_no:
                    - La valeur du champ id no est déjà utilisée.
  /cards/create:
    post:
      tags:
        - Cards
      summary: Create Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                card_user_reference:
                  type: string
                  example: 141cdcbb-df5b-4a40-b8fa-739415f1f66c
                card_brand:
                  type: string
                  enum: [visa, mastercard, gim]
                card_type:
                  type: string
                  enum: [virtual, physical]
              example:
                card_user_reference: 141cdcbb-df5b-4a40-b8fa-739415f1f66c
                card_brand: visa
                card_type: virtual
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card currently being generated
                  statusCode:
                    type: integer
                    example: 200
                  card:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                      card_brand:
                        type: string
                        example: Visa
                      card_type:
                        type: string
                        example: virtual
                      balance:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: issuing
              example:
                message: Card currently being generated
                statusCode: 200
                data:
                  card:
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 0
                    status: issuing
  /cards/freeze:
    post:
      tags:
        - Cards
      summary: Freeze Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                  example: 342e6d10-bbf1-41d4-ac69-06491f32e6e4
              example:
                reference: 342e6d10-bbf1-41d4-ac69-06491f32e6e4
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      card:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                          card_brand:
                            type: string
                            example: Visa
                          card_type:
                            type: string
                            example: virtual
                          balance:
                            type: string
                            example: 0
                          status:
                            type: string
                            example: frozen
              example:
                message: Card freezed
                statusCode: 200
                data:
                  card:
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 0
                    status: issuing
  /cards/unfreeze:
    post:
      tags:
        - Cards
      summary: UnFreeze Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                  example: 342e6d10-bbf1-41d4-ac69-06491f32e6e4
              example:
                reference: 342e6d10-bbf1-41d4-ac69-06491f32e6e4
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      card:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                          card_brand:
                            type: string
                            example: Visa
                          card_type:
                            type: string
                            example: virtual
                          balance:
                            type: integer
                            example: 0
                          status:
                            type: string
                            example: issued
              example:
                message: Card currently being generated
                statusCode: 200
                data:
                  card:
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 0
                    status: issuing
  /cards/link:
    post:
      tags:
        - Cards
      summary: Link Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - card_user_reference
              properties:
                identifier:
                  type: string
                  example: 8840822604
                reference:
                  type: string
                  example: c2abd1a2-917c-485f-b9ca-e4588aa3d2a7
                card_user_reference:
                  type: string
                  example: 577f7a27-0749-4c7c-89a3-bcedca3452e9
              example:
                identifier: 8840822604
                card_user_reference: 577f7a27-0749-4c7c-89a3-bcedca3452e9
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      card:
                        type: object
                        properties:
                          identifier:
                            type: string
                            example: 8840822604
                          reference:
                            type: string
                            example: c2abd1a2-917c-485f-b9ca-e4588aa3d2a7
                          card_brand:
                            type: string
                            example: Visa
                          card_type:
                            type: string
                            example: virtual
                          balance:
                            type: integer
                            example: 0
                          status:
                            type: string
                            example: issued
              example:
                message: Card currently being generated
                statusCode: 200
                data:
                  card:
                    identifier: 8840822604
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 0
                    status: issued
  /transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions on Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: card_reference
          in: query
          schema:
            type: string
          example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:49:30 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        card_reference:
                          type: string
                          example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                        amount:
                          type: integer
                          example: 1000
                        status:
                          type: string
                          example: success
                        kind:
                          type: string
                          example: recharge
                        merchant:
                          type: string
                          example: Any
                        created_at:
                          type: string
                          example: '2023-06-22T11:07:07.000000Z'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    - slug: e1d30877-0353-45b3-82fb-92780238ecb4
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 2000
                      created_at: '2023-06-22T10:40:17.000000Z'
                    - slug: 119d2a37-22e8-4122-9d18-267909aef996
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5g4atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 2000
                      created_at: '2023-06-22T11:07:07.000000Z'
                    - slug: 1e4aa0d1-1979-47a0-83e6-ecb1c19f0a18
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5hhg4atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 1000
                      created_at: '2023-06-22T11:18:01.000000Z'
                    - slug: 9e3c8b93-d024-4973-bd50-64310879502a
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5hhg4a88jtb0849ttb22c
                      status: success
                      kind: withdraw
                      merchant: false
                      amount: 1000
                      created_at: '2023-06-22T11:25:37.000000Z'
  /transactions/{reference}:
    get:
      tags:
        - Transactions
      summary: Show Transaction
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 11:33:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties:
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: recharge
                      merchant:
                        type: string
                        example: Any
                      amount:
                        type: integer
                        example: 2000
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'
  /transactions/create:
    post:
      tags:
        - Transactions
      summary: Create Transaction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: 2000
                card_reference:
                  type: string
                  example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                receiver_card_reference (only for transfer):
                  type: string
                  example: a7517090-79b9-4af5-8c56-861ae221ae8c
                slug:
                  type: string
                  example: 2b5c73c7-de46-4ecc-a1f8-1783dc262dc1
                action:
                  type: string
                  enum: [withdraw, recharge, transfer]
              example:
                amount: 2000
                card_reference: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                action: [withdraw, recharge, transfer]
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:40:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties:
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: recharge
                      merchant:
                        type: string
                        example: Any
                      amount:
                        type: integer
                        example: 2000
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    slug: e1d30877-0353-45b3-82fb-92780238ecb4
                    card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                    reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                    status: pending
                    kind: recharge
                    merchant: false
                    amount: 2000
                    created_at: '2023-06-22T10:40:17.000000Z'
        '400':
          description: Bad Request
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:38:11 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ reference est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ reference est déjà utilisée.
              example:
                message: Bad Request
                statusCode: 400
                errors:
                  reference:
                    - La valeur du champ reference est déjà utilisée.
  /transactions/create/card-to-bank:
    post:
      tags:
        - Transactions
      summary: Card to Bank Account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: 2000
                card_reference:
                  type: string
                  example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                bank_id:
                  type: string
                  example: XX08XX0100163110648500003035
                bank_name:
                  enum: [BICICI, NSIA_BANQUE_CI, SIB, SOCIETE_GENERALE_CI, CITIBANK_CI, BOA_CI, BACI, ECOBANK_CI, BHCI, BNI, STANDARD_CHARTERED_BANK_CI, AFRILAND_FIRST_BANK_CI, VERSUS_BANK_CI, ORABANK_CI, BBG_CI, UBA_CI, BSIC_CI, BGFIBANK_CI, BANQUE_POPULAIRE, GTBANK_CI, CBI_CI, BDU_CI, STANBIC_BANK_CI, BDA, MANSA_BANK_CI, ORANGE_BANK_CI, AFG_BANK_CI]
                  example: YOUR_BANK_NAME
                account_name:
                  type: string
                  example: YOU_BANK_ACCOUNT_NAME
              example:
                amount: 2000
                card_reference: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                bank_id: XX08XX0100163110648500003035
                bank_name: YOUR_BANK_NAME
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:40:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties:
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: card_to_bank
                      merchant:
                        type: string
                        example: Any
                      amount:
                        type: integer
                        example: 2000
                      bank_name:
                        type: string
                        example: 'YOUR_BANK_NAME'
                      bank_id:
                        type: string
                        example: 'XX08XX0100163110648500003035'
                      bank_account_name:
                        type: string
                        example: 'YOUR_BANK_ACCOUNT_NAME'
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    slug: e1d30877-0353-45b3-82fb-92780238ecb4
                    card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                    reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                    status: pending
                    kind: card_to_bank
                    merchant: 'ALAL'
                    amount: 2000
                    bank_name: 'YOUR_BANK_NAME'
                    bank_id: 'XX08XX0100163110648500003035'
                    bank_account_name: 'YOUR_BANK_ACCOUNT_NAME'
                    created_at: '2023-06-22T10:40:17.000000Z'
        '400':
          description: Bad Request
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:38:11 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ reference est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ reference est déjà utilisée.
              example:
                message: Bad Request
                statusCode: 400
                errors:
                  reference:
                    - La valeur du champ reference est déjà utilisée.
  /transactions/create/card-to-wallet:
    post:
      tags:
        - Transactions
      summary: Card to wallet transfer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: 2000
                card_reference:
                  type: string
                  example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                phone:
                  type: string
                  example: XXXXXXXXX
                network:
                  enum: [mtn-ci, orange-money-ci, wave-ci, orange-money-sn, wave-sn]
                  example: XXXXXXX
              example:
                amount: 2000
                card_reference: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                phone: XXXXXXXXX
                network: XXXXXXX
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:40:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties:
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: card_to_wallet
                      merchant:
                        type: string
                        example: Any
                      amount:
                        type: integer
                        example: 2000
                      phone:
                        type: string
                        example: XXXXXXXX
                      network:
                        type: string
                        example: XXXXXXXX
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    slug: e1d30877-0353-45b3-82fb-92780238ecb4
                    card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                    reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                    status: pending
                    kind: card_to_wallet
                    merchant: false
                    amount: 2000
                    phone: XXXXXXXX
                    network: XXXXXXXX
                    created_at: '2023-06-22T10:40:17.000000Z'
        '400':
          description: Bad Request
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:38:11 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ reference est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ reference est déjà utilisée.
              example:
                message: Bad Request
                statusCode: 400
                errors:
                  reference:
                    - La valeur du champ reference est déjà utilisée.
  /transactions/create/wallet-to-card:
    post:
      tags:
        - Transactions
      summary: Wallet to card transfer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: 2000
                card_reference:
                  type: string
                  example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                phone:
                  type: string
                  example: XXXXXXXXX
                network:
                  enum: [mtn-ci, orange-money-ci, wave-ci, orange-money-sn, wave-sn]
                  example: XXXXXXX
              example:
                amount: 2000
                card_reference: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                phone: XXXXXXXXX
                network: XXXXXXX
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:40:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties:
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: card_to_wallet
                      merchant:
                        type: string
                        example: Any
                      amount:
                        type: integer
                        example: 2000
                      phone:
                        type: string
                        example: XXXXXXXX
                      network:
                        type: string
                        example: XXXXXXXX
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    slug: e1d30877-0353-45b3-82fb-92780238ecb4
                    card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                    reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                    status: pending
                    kind: card_to_wallet
                    merchant: false
                    amount: 2000
                    phone: XXXXXXXX
                    network: XXXXXXXX
                    created_at: '2023-06-22T10:40:17.000000Z'
        '400':
          description: Bad Request
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:38:11 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ reference est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ reference est déjà utilisée.
              example:
                message: Bad Request
                statusCode: 400
                errors:
                  reference:
                    - La valeur du champ reference est déjà utilisée.                    
  /card-users:
    get:
      tags:
        - CardUsers
      summary: List CardUser
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:50:54 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties:
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        first_name:
                          type: string
                          example: your-firstname
                        last_name:
                          type: string
                          example: your-lastname
                        address:
                          type: string
                          example: your-address
                        phone:
                          type: string
                          example: '774964996'
                        email:
                          type: string
                          example: your@mail.com
                        id_no:
                          type: string
                          example: '20119991010000621'
                        status:
                          type: string
                          example: 'verified'
                        created_at:
                          type: string
                          example: '2023-06-22T11:07:07.000000Z'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17
                      total:
                        type: integer
                        example: 17
              example:
                message: OK
                statusCode: 200
                data:
                  - data:
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
[...]
