openapi: 3.1.0
info:
  title: ALAL APIs
  version: 1.0.0
servers:
  - url: https://api.sandbox.saalal.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Cards
  - name: Transactions
  - name: CardUsers
  - name: Disputes
paths:
  /cards:
    get:
      tags:
        - Cards
      summary: List Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:49:30 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties: 
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        balance:
                          type: integer
                          example: 1000
                        status:
                          type: string
                          example: issued
                        card_type:
                          type: string
                          example: Visa
                        card_brand:
                          type: string
                          example: physical
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17                      
                      total:
                        type: integer
                        example: 17
  /cards/{reference}:
    get:
      tags:
        - Cards
      summary: Show Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json        
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Sun, 18 Jun 2023 20:35:41 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    properties: 
                      reference:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      balance:
                        type: integer
                        example: 1000
                      status:
                        type: string
                        example: issued
                      card_type:
                        type: string
                        example: Visa
                      card_brand:
                        type: string
                        example: physical             
              example:
                message: OK
                statusCode: 200
                data:
                  card:
                    reference: db408374-0a25-497f-b9b3-45b16c110812
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 1000
                    status: 1000
        '500':
          description: Internal Server Error
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Sun, 18 Jun 2023 20:35:57 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: undefined card reference.
                  statusCode:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    example: []                
              example:
                message: undefined card reference.
                statusCode: 500
                errors: []
  /cards/user:
    post:
      tags:
        - Cards
      summary: Register Card User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: ndeye ngone              
                last_name:
                  type: string
                  example: ndiaye                
                address:
                  type: string
                  example: rue ng 59 grand ngor                 
                phone:
                  type: string
                  example: '774964996'                  
                email:
                  type: string
                  example: ndiayendeyengone99@gmail.com                
                id_no:
                  type: string
                  example: '20119991010000621'                  
                selfie_image:
                  type: string
                  example: https://example.com/selfie.png                  
                id_image:
                  type: string
                  example: https://example.com/id.png                
                back_id_image:
                  type: string
                  example: https://example.com/backid.png                
              example:
                first_name: ndeye ngone
                last_name: ndiaye
                address: rue ng 59 grand ngor
                phone: '774964996'
                email: ndiayendeyengone99@gmail.com
                id_no: '20119991010000621'
                selfie_image: >-
                  https://bambara.coinhub.africa/storage/1311/image_picker_33DEBD5E-0F27-423F-97FC-6F86A1C44261-1364-0000006A588CEFD6.jpg
                id_image: >-
                  https://bambara.coinhub.africa/storage/1309/image_picker_ADCC3404-1E7F-4959-A226-262D1A23A6C0-1364-00000068CFCD2A74.jpg
                back_id_image: >-
                  https://bambara.coinhub.africa/storage/1310/image_picker_8156358E-64CF-431B-A803-9FCF47F14963-1364-000000691672C6D4.jpg
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:02:42 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card User verification in progress
                  statusCode:
                    type: integer
                    example: 200
                  userCard:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 88c2f29c-2fba-40f1-a303-b33008e42fe9   
                      first_name:
                        type: string
                        example: ndeye ngone              
                      last_name:
                        type: string
                        example: ndiaye                
                      address:
                        type: string
                        example: rue ng 59 grand ngor                 
                      phone:
                        type: string
                        example: '774964996'                  
                      email:
                        type: string
                        example: ndiayendeyengone99@gmail.com                
                      id_no:
                        type: string
                        example: '20119991010000621'  
              example:
                message: OK
                statusCode: 200
                data:
                  message: Card User verification in progress
                  userCard:
                    reference: 88c2f29c-2fba-40f1-a303-b33008e42fe9
                    first_name: Testeur
                    last_name: glock
                    address: Pikine Texaco 11
                    id_no: '17521999133211635'
                    phone: '221776854872'
                    email: testingboy@gmail.com
        '422':
          description: Unprocessable Content
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:00:54 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ id no est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ id no est déjà utilisée.
              example:
                message: La valeur du champ id no est déjà utilisée.
                errors:
                  id_no:
                    - La valeur du champ id no est déjà utilisée.
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Wed, 12 Jul 2023 12:43:10 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card User creation failed
                  statusCode:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    example: []
              example:
                message: Card User creation failed
                statusCode: 500
                errors:
                  userCard:
                    reference: 2baec707-ccd8-4f71-9bdd-5dab5e0ce8b8
                    first_name: Bassirou
                    last_name: ndao
                    address: villa 100506 sacre coeur
                    id_no: '10119941019000640'
                    phone: '776440100'
                    email: bachirnd2@gmail.com
                    status: failed
  /cards/create:
    post:
      tags:
        - Cards
      summary: Create Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cardUserReference:
                  type: string
                  example: 141cdcbb-df5b-4a40-b8fa-739415f1f66c
                cardBrand:
                  type: string
                  example: visa
                cardType:
                  type: string
                  example: virtual
              example:
                cardUserReference: 141cdcbb-df5b-4a40-b8fa-739415f1f66c
                cardBrand: visa
                cardType: virtual
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:34:03 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card currently being generated
                  statusCode:
                    type: integer
                    example: 200
                  card:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: d282e4a6-1fb6-4827-a6ae-a780263287d7
                      card_number:
                        type: string
                        example: null
                      card_brand:
                        type: string
                        example: Visa
                      card_type:
                        type: string
                        example: virtual
                      cvv2: 
                        type: string
                        example: null
                      expiry:
                        type: string
                        example: null
                      balance:
                        type: integer
                        example: 0
                      status:
                        type: string
                        example: issuing                                                                                                                        
              example:
                message: Card currently being generated
                statusCode: 200
                data:
                  card:
                    reference: d282e4a6-1fb6-4827-a6ae-a780263287d7
                    card_number: null
                    card_brand: Visa
                    card_type: virtual
                    cvv2: null
                    expiry: null
                    balance: 0
                    status: issuing
        '500':
          description: Internal Server Error
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:23:15 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: undefined cardUser reference.
                  statusCode:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    example: []
              example:
                message: undefined cardUser reference.
                statusCode: 500
                errors: []
  /transactions:
    get:
      tags:
        - Transactions
      summary: List Transactions on Card
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: card_reference
          in: query
          schema:
            type: string
          example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 11:33:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties: 
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        card_reference:
                          type: string
                          example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                        amount:
                          type: integer
                          example: 1000
                        status:
                          type: string
                          example: success
                        kind:
                          type: string
                          example: recharge
                        merchant:
                          type: string
                          example: Any                          
                        created_at:
                          type: string
                          example: '2023-06-22T11:07:07.000000Z'                     
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17                      
                      total:
                        type: integer
                        example: 17                
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    - slug: e1d30877-0353-45b3-82fb-92780238ecb4
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 2000
                      created_at: '2023-06-22T10:40:17.000000Z'
                    - slug: 119d2a37-22e8-4122-9d18-267909aef996
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5g4atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 2000
                      created_at: '2023-06-22T11:07:07.000000Z'
                    - slug: 1e4aa0d1-1979-47a0-83e6-ecb1c19f0a18
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5hhg4atb0849ttb22c
                      status: success
                      kind: recharge
                      merchant: false
                      amount: 1000
                      created_at: '2023-06-22T11:18:01.000000Z'
                    - slug: 9e3c8b93-d024-4973-bd50-64310879502a
                      card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference: b60f55b1-922a-406a-8417-g5hhg4a88jtb0849ttb22c
                      status: success
                      kind: withdraw
                      merchant: false
                      amount: 1000
                      created_at: '2023-06-22T11:25:37.000000Z'
        '500':
          description: Internal Server Error
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 11:52:01 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: undefined card reference.
                  statusCode:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    example: []                  
              example:
                message: undefined card reference.
                statusCode: 500
                errors: []
  /transactions/create:
    post:
      tags:
        - Transactions
      summary: TopUp or Withdraw Card
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  example: 2000
                cardReference:
                  type: string
                  example: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference:
                  type: string
                  example: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                action:
                  type: string
                  example: withdraw | recharge
              example:
                amount: 2000
                cardReference: 6516484d-0059-4f53-b2cf-31f3ae884d3a
                reference: b60f54d5b1-922a-40ty6a-8417-fasjhdfdfdi231i
                action: withdraw | recharge
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:40:18 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  transaction:
                    properties: 
                      slug:
                        type: string
                        example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                      card_reference:
                        type: string
                        example: 9c54515e-7890-44f9-8cc2-a85b80322b98
                      reference:
                        type: string
                        example: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                      status:
                        type: string
                        example: pending
                      kind:
                        type: string
                        example: recharge
                      merchant:
                        type: string
                        example: Any 
                      amount:
                        type: integer
                        example: 2000
                      created_at:
                        type: string
                        example: '2023-06-22T10:40:17.000000Z'                                                                                                                                                                
              example:
                message: OK
                statusCode: 200
                data:
                  transaction:
                    slug: e1d30877-0353-45b3-82fb-92780238ecb4
                    card_reference: 9c54515e-7890-44f9-8cc2-a85b80322b98
                    reference: b60f55b1-922a-406a-8417-g54atb0849ttb22c
                    status: pending
                    kind: recharge
                    merchant: false
                    amount: 2000
                    created_at: '2023-06-22T10:40:17.000000Z'
        '400':
          description: Bad Request
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:38:11 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ reference est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ reference est déjà utilisée.
              example:
                message: Bad Request
                statusCode: 400
                errors:
                  reference:
                    - La valeur du champ reference est déjà utilisée.
  /card-users:
    get:
      tags:
        - CardUsers
      summary: List CardUser
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:50:54 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties: 
                        reference:
                          type: string
                          example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                        first_name:
                          type: string
                          example: ndeye ngone              
                        last_name:
                          type: string
                          example: ndiaye                
                        address:
                          type: string
                          example: rue ng 59 grand ngor                 
                        phone:
                          type: string
                          example: '774964996'                  
                        email:
                          type: string
                          example: ndiayendeyengone99@gmail.com                
                        id_no:
                          type: string
                          example: '20119991010000621'      
                        status:
                          type: string
                          example: 'verified'                                     
                        created_at:
                          type: string
                          example: '2023-06-22T11:07:07.000000Z'                     
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17                      
                      total:
                        type: integer
                        example: 17                   
              example:
                message: OK
                statusCode: 200
                data:
                  - data:
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: null
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 47c72022-0c9a-492d-b6f6-4cdd060af76f
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 57101f9e-6b26-4875-b34f-1fd2b175271e
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 4e86400e-20a7-4341-834a-c9676422422a
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '08122277789'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 0b7cdb7e-94ab-4a96-99e2-02311130c5a1
                        first_name: John
                        last_name: Doe
                        address: 9 Jibowu Street
                        id_no: '11111111111'
                        phone: '+221786338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 8c9b8494-3805-4cfc-a171-855fb8e2d6d7
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '+221796338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 3d28c91f-c9e6-4d09-9465-bccb25582734
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '0221796338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 45aaaeb6-0a57-425f-94b2-737e52c1f296
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '00221796338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: d3970eff-aae0-4d4a-8d3e-8218065fc968
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '796338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: 83865f93-c204-499e-b133-401d3322b242
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '221796338816'
                        email: testingboy@gmail.com
                        status: null
                      - reference: b4def0e9-8b4d-41d3-903e-d6d7fe722f61
                        first_name: Testing
                        last_name: Boy
                        address: Pikine Texaco 11
                        id_no: '1752199801163'
                        phone: '221796338816'
                        email: testingboy@gmail.com
                        status: null
                    links:
                      first: >-
                        http://localhost:8090/api/v1/card-users?per_page=20&page=1
                      last: >-
                        http://localhost:8090/api/v1/card-users?per_page=20&page=3
                      prev: null
                      next: >-
                        http://localhost:8090/api/v1/card-users?per_page=20&page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 3
                      links:
                        - url: null
                          label: '&laquo; Précédent'
                          active: false
                        - url: >-
                            http://localhost:8090/api/v1/card-users?per_page=20&page=1
                          label: '1'
                          active: true
                        - url: >-
                            http://localhost:8090/api/v1/card-users?per_page=20&page=2
                          label: '2'
                          active: false
                        - url: >-
                            http://localhost:8090/api/v1/card-users?per_page=20&page=3
                          label: '3'
                          active: false
                        - url: >-
                            http://localhost:8090/api/v1/card-users?per_page=20&page=2
                          label: Suivant &raquo;
                          active: false
                      path: http://localhost:8090/api/v1/card-users
                      per_page: 20
                      to: 20
                      total: 45
  /card-users/{reference}:
    get:
      tags:
        - CardUsers
      summary: Show CardUser
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:51:35 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties: 
                  reference:
                    type: string
                    example: 792c6cf2-f5cf-46c8-bf8c-699a9028010e
                  first_name:
                    type: string
                    example: ndeye ngone              
                  last_name:
                    type: string
                    example: ndiaye                
                  address:
                    type: string
                    example: rue ng 59 grand ngor                 
                  phone:
                    type: string
                    example: '774964996'                  
                  email:
                    type: string
                    example: ndiayendeyengone99@gmail.com                
                  id_no:
                    type: string
                    example: '20119991010000621'      
                  status:
                    type: string
                    example: 'verified'                                     
                  created_at:
                    type: string
                    example: '2023-06-22T11:07:07.000000Z'                  
              example:
                message: OK
                statusCode: 200
                data:
                  cardUser:
                    reference: 83865f93-c204-499e-b133-401d3322b242
                    first_name: Testing
                    last_name: Boy
                    address: Pikine Texaco 11
                    id_no: '1752199801163'
                    phone: '221796338816'
                    email: testingboy@gmail.com
                    status: null
  /card-users/create:
    post:
      tags:
        - Cards
      summary: Create Card User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: ndeye ngone              
                last_name:
                  type: string
                  example: ndiaye                
                address:
                  type: string
                  example: rue ng 59 grand ngor                 
                phone:
                  type: string
                  example: '774964996'                  
                email:
                  type: string
                  example: ndiayendeyengone99@gmail.com                
                id_no:
                  type: string
                  example: '20119991010000621'                  
                selfie_image:
                  type: string
                  example: https://example.com/selfie.png                  
                id_image:
                  type: string
                  example: https://example.com/id.png                
                back_id_image:
                  type: string
                  example: https://example.com/backid.png                
              example:
                first_name: ndeye ngone
                last_name: ndiaye
                address: rue ng 59 grand ngor
                phone: '774964996'
                email: ndiayendeyengone99@gmail.com
                id_no: '20119991010000621'
                selfie_image: >-
                  https://bambara.coinhub.africa/storage/1311/image_picker_33DEBD5E-0F27-423F-97FC-6F86A1C44261-1364-0000006A588CEFD6.jpg
                id_image: >-
                  https://bambara.coinhub.africa/storage/1309/image_picker_ADCC3404-1E7F-4959-A226-262D1A23A6C0-1364-00000068CFCD2A74.jpg
                back_id_image: >-
                  https://bambara.coinhub.africa/storage/1310/image_picker_8156358E-64CF-431B-A803-9FCF47F14963-1364-000000691672C6D4.jpg
      security:
        - bearerAuth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:02:42 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card User verification in progress
                  statusCode:
                    type: integer
                    example: 200
                  userCard:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 88c2f29c-2fba-40f1-a303-b33008e42fe9   
                      first_name:
                        type: string
                        example: ndeye ngone              
                      last_name:
                        type: string
                        example: ndiaye                
                      address:
                        type: string
                        example: rue ng 59 grand ngor                 
                      phone:
                        type: string
                        example: '774964996'                  
                      email:
                        type: string
                        example: ndiayendeyengone99@gmail.com                
                      id_no:
                        type: string
                        example: '20119991010000621'  
              example:
                message: OK
                statusCode: 200
                data:
                  message: Card User verification in progress
                  userCard:
                    reference: 88c2f29c-2fba-40f1-a303-b33008e42fe9
                    first_name: Testeur
                    last_name: glock
                    address: Pikine Texaco 11
                    id_no: '17521999133211635'
                    phone: '221776854872'
                    email: testingboy@gmail.com
        '422':
          description: Unprocessable Content
          headers:
            Host:
              schema:
                type: string
                example: localhost:8090
            Date:
              schema:
                type: string
                example: Thu, 22 Jun 2023 10:00:54 GMT
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.4
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: La valeur du champ id no est déjà utilisée.
                  errors:
                    type: object
                    properties:
                      id_no:
                        type: string
                        example: La valeur du champ id no est déjà utilisée.
              example:
                message: La valeur du champ id no est déjà utilisée.
                errors:
                  id_no:
                    - La valeur du champ id no est déjà utilisée.
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Wed, 12 Jul 2023 12:43:10 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Card User creation failed
                  statusCode:
                    type: integer
                    example: 500
                  errors:
                    type: array
                    example: []
              example:
                message: Card User creation failed
                statusCode: 500
                errors:
                  userCard:
                    reference: 2baec707-ccd8-4f71-9bdd-5dab5e0ce8b8
                    first_name: Bassirou
                    last_name: ndao
                    address: villa 100506 sacre coeur
                    id_no: '10119941019000640'
                    phone: '776440100'
                    email: bachirnd2@gmail.com
                    status: failed
  /cards/auth/access_token:
    post:
      tags:
        - Cards
      summary: Get Card Access Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                  example: ed7e61b6-94c9-4716-adc9-74a19db8a8e
              example:
                reference: ed7e61b6-94c9-4716-adc9-74a19db8a8e
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Fri, 04 Aug 2023 12:18:38 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access Token generated successfully
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        example: N72VeyZQ8dmn3a0Wk0blu2a1pjFjdcNOx2Ec5bm39pFGa33gGu              
              example:
                message: Access Token generated successfully
                statusCode: 200
                data:
                  access_token: N72VeyZQ8dmn3a0Wk0blu2a1pjFjdcNOx2Ec5bm39pFGa33gGu
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Fri, 04 Aug 2023 12:31:55 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: undefined card reference.
                  errors:
                    type: array
                    example: []            
              example:
                message: undefined card reference.
                statusCode: 400
                errors: []  
  /disputes:
    get:
      tags:
        - Disputes
      summary: List Disputes
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: per_page
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Mon, 07 Aug 2023 16:35:18 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: array
                    items:
                      type: object
                      xml:
                        name: 'item'
                      properties: 
                        reference:
                          type: string
                          example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                        transaction_reference:
                          type: string
                          example: 962b954d-bbd3-4b03-8a70                        
                        status:
                          type: string
                          example: submitted
                        reason:
                          type: string
                          example: duplicate
                        explanation:
                          type: string
                          example: No real explanation even now                      
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 20
                      to:
                        type: integer
                        example: 17                      
                      total:
                        type: integer
                        example: 17             
              example:
                message: OK
                statusCode: 200
                data:
                  - transaction_slug: 962b954d-bbd3-4b03-8a70-80fb595e9049
                    slug: submitted
                    status: submitted
                    reason: duplicate
                    explanation: No real explanation even now
                meta:
                  current_page: 1
                  from: 1
                  last_page: 1
                  per_page: 20
                  to: 1
                  total: 1
  /disputes/{reference}:
    get:
      tags:
        - Disputes
      summary: Show Dispute
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Mon, 07 Aug 2023 16:35:44 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                      transaction_reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70                        
                      status:
                        type: string
                        example: submitted
                      reason:
                        type: string
                        example: duplicate
                      explanation:
                        type: string
                        example: No real explanation even now     
              example:
                message: OK
                statusCode: 200
                data:
                  dispute:
                    transaction_slug: 962b954d-bbd3-4b03-8a70-80fb595e9049
                    slug: SBkRUq6GDCf0sdFc1LFU
                    status: submitted
                    reason: duplicate
                    explanation: No real explanation even now
  /disputes/create:
    post:
      tags:
        - Disputes
      summary: Create Dispute
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_reference:
                  type: string
                  example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                reason:
                  type: string
                  example: duplicate
                explanation:
                  type: string
                  example: No real explanation                        
                example:
                  transaction_slug: 76884322-a3fb-4607-b39c-6a6d7d9c3bcc
                  reason: duplicate
                  explanation: No real explanation
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Mon, 07 Aug 2023 15:52:59 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: dispute successfully created!
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                      transaction_reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70                        
                      status:
                        type: string
                        example: submitted
                      reason:
                        type: string
                        example: duplicate
                      explanation:
                        type: string
                        example: No real explanation even now                     
              example:
                message: dispute successfully created!
                statusCode: 200
                data:
                  - transaction_slug: 962b954d-bbd3-4b03-8a70-80fb595e9049
                    slug: 962b954d-bbd3-4b03-8a70
                    status: submitted
                    reason: duplicate
                    explanation: No real explanation
  /disputes/update/{reference}:
    post:
      tags:
        - Disputes
      summary: Update Dispute
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction_reference:
                  type: string
                  example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                explanation:
                  type: string
                  example: No real explanation even now              
                example:
                  transaction_slug: 962b954d-bbd3-4b03-8a70-80fb595e9049
                  explanation: No real explanation even now
      security:
        - bearerAuth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Mon, 07 Aug 2023 16:34:27 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                      type: string
                      example: dispute successfully updated!
                  statusCode:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70-80fb595e9049
                      transaction_reference:
                        type: string
                        example: 962b954d-bbd3-4b03-8a70                        
                      status:
                        type: string
                        example: submitted
                      reason:
                        type: string
                        example: duplicate
                      explanation:
                        type: string
                        example: No real explanation even now                       
              example:
                message: dispute successfully updated!
                statusCode: 200
                data:
                  - transaction_slug: 962b954d-bbd3-4b03-8a70-80fb595e9049
                    slug: {reference}
                    status: submitted
                    reason: duplicate
                    explanation: No real explanation even now                